---
import Layout from "@/layouts/Layout.astro";
import GeneratePrompt from "@/components/const/GeneratePrompt.svelte";
---

<Layout title="const!">
  <main
    class="h-[100dvh] pt-16 container mx-auto flex justify-center items-center"
  >
    <section class="max-w-2xl">
      <GeneratePrompt client:visible />
    </section>
  </main>
</Layout>
