---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="const!">
  <main
    class="h-screen pt-16 container mx-auto flex justify-center items-center"
  >
    <section class="max-w-2xl"></section>
  </main>
</Layout>
