@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/container-queries";
@plugin "tailwindcss-animated";

@plugin "daisyui" {
  themes: retro --default;
}

@theme {
  --font-sans: "DM Sans Variable", "Inter";
  --font-mono: "Geist Mono Variable";
  --font-serif: "Merriweather", "Georgia";
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

html {
  scroll-behavior: smooth;
}