@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: silk --default;
}

@theme {
  --font-sans: var(--font-geist);
  --font-mono: var(--font-plex-mono);
  --font-serif: var(--font-merriweather);
}
