@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/container-queries";
@plugin "tailwindcss-animated";

@plugin "daisyui" {
  themes: silk --default;
}

@theme {
  --font-sans: "Inter Tight Variable";
  --font-mono: "IBM Plex Mono";
  --font-serif: "Merriweather";
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
