---
import MonacoEditor from "@/components/const/MonacoEditor.vue";
import WordBar from "@/components/const/WordBar.vue";
import Layout from "@/layouts/Layout.astro";
import type { GameSession } from "@/lib/const/rules";
import { actions } from "astro:actions";
import ShareButton from "@/components/const/ShareButton.vue";
import RefreshButton from "@/components/const/RefreshButton.vue";

const cookie = Astro.cookies.get("const:session")?.json();

const game =
  (cookie as GameSession) ??
  ({
    rules: ["useGivenWords"],
    words: [],
  } as GameSession);

if (!cookie || game.words.length < 10) {
  game.words = await Astro.callAction(actions.constAction.words.orThrow, {
    max: 10,
  });

  Astro.cookies.set(
    "const:session",
    {
      ...game,
      words: game.words.slice(0, 10),
    },
    {
      // expires: new Date(Date.now() + 1000 * 60 * 60 * 24 * 7),
      path: "/",
      // domain: `${Astro.url.hostname}`,
      // secure: import.meta.env.PROD,
    },
  );
}

const words = game.words;
---

<Layout title="const!">
  <main
    class="min-h-[100dvh] max-w-6xl mx-auto flex justify-center items-center"
  >
    <section
      class="w-full flex flex-col items-center justify-center max-w-3xl animate-fade animate-once"
    >
      <div
        id="photoframe"
        class="space-y-6 px-4 pt-16 pb-8 bg-base-100 @container-normal"
      >
        <WordBar words={words} client:only="vue" />
        <div
          class="h-64 @md:h-96 rounded-xl shadow overflow-hidden bg-neutral w-[min(90%,64rem)] mx-auto"
        >
          <MonacoEditor client:only="vue" />
        </div>
      </div>
      <div class="flex gap-4">
        <RefreshButton client:only="vue" />
        <ShareButton client:only="vue" />
      </div>
    </section>
  </main>
</Layout>
