---
import MonacoEditor from "@/components/const/MonacoEditor.vue";
import WordBar from "@/components/const/WordBar.vue";
import Layout from "@/layouts/Layout.astro";
import type { GameSession } from "@/lib/const/rules";
import { actions } from "astro:actions";
import ShareButton from "@/components/const/ShareButton.vue";
import RefreshButton from "@/components/const/RefreshButton.vue";

const cookie = Astro.cookies.get("const:session")?.json();

let gameSession =
  (cookie as GameSession) ??
  ({
    rules: ["useGivenWords"],
    words: [],
  } as GameSession);

if (gameSession.words.length < 10) {
  gameSession.words = await Astro.callAction(
    actions.constAction.words.orThrow,
    {
      max: 10,
    },
  );
}

const words = gameSession.words;
---

<Layout title="const!">
  <main
    class="min-h-[100dvh] pt-16 max-w-6xl mx-auto flex justify-center items-center"
  >
    <section
      class="w-full flex flex-col items-center justify-center max-w-3xl animate-fade animate-once"
    >
      <div
        id="photoframe"
        class="space-y-6 px-4 pt-16 pb-8 bg-base-100 @container-normal"
      >
        <WordBar words={words} client:only="vue" />
        <div
          class="h-64 @md:h-96 rounded-xl shadow overflow-hidden bg-neutral w-[min(90%,64rem)] mx-auto"
        >
          <MonacoEditor client:only="vue" />
        </div>
      </div>
      <div class="flex gap-4">
        <RefreshButton client:only="vue" />
        <ShareButton client:only="vue" />
      </div>
    </section>
  </main>
</Layout>
